@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 95%;
    display: block;
    margin: 20px auto;
}

.searchbar-input {
    background-color: white;
    border: 2px solid black;
}